<div id="<%= dom_id reaction %>">
  <p>
    <strong>Word:</strong>
    <%= reaction.word_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= reaction.type %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= reaction.body %>
  </p>
  <% if reaction.instance_of?(Sample) %>
    <div style="margin-left:20px">
    <% reaction.usefuls.each do |useful| %>
    <p>
      <strong>Useful_by User:<%= useful.user.note_title %></strong>
    </p>
    <% end %>
    </div>
    <%= link_to 'new useful', new_sample_useful_path(reaction) %>
  <% end %>

</div>
